.grid-container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    gap: 10px;
}

.grid-container>div {
    background-color: blue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.red {
    background-color: red !important;
}

.blue {
    background-color: blue;
}