* {
    padding: 0;
    margin: 0;
}

.dFlex {
    display: flex;
}

header {
    justify-content: space-between;
}

.bgBlue {
    background-color: blue;
}

.style {
    background-color: red;
    padding: 10px;
    color: white;
}

.gap {
    gap: 4rem;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

.textWhite {
    color: white;
}

.borderRadius30 {
    border-radius: 30px;
}

.borders {
    border: 2px solid black;
}


main {
    background-color: red;
    flex: 100vh;
}

.card {
    background-color: green;
    width: 300px;
    height: 400px;
}

aside {
    flex: 5;
}

main {
    background-color: red;
    flex: 10;
    height: 100vh;


}

.gap {
    gap: 10px;
}

.bgaqua {
    background-color: aqua;
}

.height100 {
    height: 100vh;
}