body {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

img {
    height: 200px;
    width: 200px;
    filter: blur(2px);
    transition-duration: 0.4s, 0.1s;
    transition-property: transform, filter;
    transition-timing-function: ease-out;

}

img:hover {
    filter: blur(0px);
    transform: rotate(720deg);
    height: 200px;
    width: 200px;
}