h1 {
    background-color: pink;
    color: red;
}

h2 {
    background-color: brown;
    color: lightcoral;
}

h3 {
    background-color: violet;
    color: pink;
}

p {
    background-color: red;
    color: brown;
}