h1 {
    background-color: aqua;
    color: aquamarine;
}

h2 {
    background-color: black;
    color: beige;
}

h3 {
    background-color: blueviolet;
    color: brown;
}

p {
    background-color: blanchedalmond color violet;
}