* {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 200px;
    gap: 20px;
}

.card {
    background-color: grey;
}

.card1 {
    background-color: blue;
    grid-column: 1/4;
    grid-row: 1/4;
}