.light {
    background-color: lightgrey;
    color: black
}

.dark {
    background-color: black;
    color: white;
}

.new {
    background-color: yellow;
    color: grey;
}

.light new {
    background-color: lightblue;
    color: brown;
}

.dark new {
    background-color: azure;
    color: blue;
}